body{
  background-image: url('./images/wallhaven-nrdekq.png');
  background-size: cover;
}
.list-categories {
  font-size: 2em;
  font-weight: bold;
  color: hsl(0, 0%, 20%);
  margin-bottom: 10px;
  border: 3px solid;
  border-radius: 5px;
  background: hsl(132, 80%, 46%);
  padding: 5px 15px;
  width: 200px;
}

.List-item{
  list-style: none;
  padding: 0;
  margin: 0;
}

.List-item li {
  font-size: 1.5em;
  color: hsl(185, 10%, 0%);
  margin: 8px 0;
}

.List-item li:hover {

  color: hsl(0, 0%, 45%);
  cursor: pointer;
}

.main-container{
  max-width: 600px;
  text-align: center;
  justify-content: center;
  margin: 100px auto;
  border: #222 solid;
  border-radius: 20px;
  overflow: hidden;
}
.title {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  color: white;
  background-color: rgba(0, 0,0, 0.8);
  padding: 20px;
  margin: 0;
}

.container{
  display: flex;
  justify-content: center;
  gap: 50px;
  background: rgba(255, 255,255, 0.7);
}

.list-box{
  text-align: center;
}